*{
	margin:0px;
	padding:0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Tw Cen MT, ROBOTO, 'Raleway', sans-serif;
    /*background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(background.png);
	*/
    height: 100vh;
    background-position: center;
    color: #262626;
    font-size: 17px;
    background-image: url('../../img/dimension.png');
}


/*---------Menu/Main Navigation-------*/

.headbar {
    top: 0;
    /*position: absolute;*/
    width: 100%;
    background-color: #BD181F;
    text-align: center;
    padding: 5px 0 25px 0;
    margin-top: 0;
    height: 20%;
}

.main-nav {
    list-style: none;
    margin-top: 35px;
    color: #661aff;
    margin-right: 10%;
    margin-bottom: 5px;
}

.main-nav ul{
    float: right;
}

.left{
    margin-left: 1070px;
}

.left .main-nav li.link{
    margin-top: 3px;
}


.main-nav li {
    display: inline-block;
    text-align: center;
}

.main-nav li a {
    color: #e6e6e6;
    text-decoration: none;
    padding: 8px 14px;
    font-family: Tw Cen MT, ROBOTO, helvetica;
    font-size: 15px;
    transition: 0.3s;
}

.main-nav li.active a {
    border: 1px solid #e6e6e6;
}



.main-nav li a:hover {
    border: 1px solid #000;
    padding-bottom: 13px;
    padding-top: 13px;
    background-color: #000;
}

.logo img {
    width: auto	;
    height: 60px;
    float: left;
	margin-top: -30px;
	margin-left: 80px;
}


/*------for Hamburger Bar------*/

#menu {
    transition: all 500ms linear;
}

.main-nav li.logout a:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.main-nav li.logout a {
    color: #fff;
}


.main-nav li.link a i{
    font-size: 15px;
    text-align: center;
}

#home .link1,
#profile .link2 {
    border: 1px solid #e6e6e6;
    padding-bottom: 13px;
    padding-top: 13px;
}


/*------Sidebar-------*/

#sidebar {
    position: fixed;
	width: 200px;
	height: 100%;
	background : #313030;
	left:-200px;
	transition: all 500ms linear;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color:rgba(230,230,230,0.9);
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar ul a {
    font-family: Tw Cen MT, Lato;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

#sidebar .toggle-btn {
    position: absolute;
	left: 230px;
	top:30px;
    margin-left: -10px;
}

#sidebar .toggle-btn span {
    display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin: 5px 0px;
}

#sidebar li.active {
    background-color: #BD181F;
    color: #fff;
}

#sidebar ul li:hover {
    background-color: #BD181F;
    color: #fff;
}

#sidebar #profileImage .profile {
    position: relative;
	width: 78%;
	height: 80%;
	border: 5px solid #BD181F;
	left: 10%;
    margin-top: 50px;
    margin-bottom: 10px;
}

#sidebar #profileImage a {
    font-family: Tw Cen MT, Lato;
    color: white;
    text-decoration: none;
}

#sidebar #profileImage span {
    display: block;
    width: 100%;
    height: 3px;
    background: #D9D9DA;
    margin: 10px 0px;
}


/*------Body Content------*/

#content {
    text-align: center;
}


/*---------footer--------*/

footer {
    margin-top: 10%;
    height: 70px;
    width: 100%;
    color: #fff;
    text-align: center;
    bottom: 0;
    background-color: rgb(13, 13, 13);
    padding: 20px 0 0 0;
}

footer nav ul li {
    display: inline-block;
    list-style: none;
}

footer nav ul li a {
    font-weight: 1.6em;
    font-family: Tw Cen MT, ROBOTO, helvetica;
    font-size: 18px;
    color: #e6e6e6;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #666666;
    height: 10px;
    width: 100%;
    bottom: 0;
}


/*-------Header-------*/